@import "tailwindcss";

/* h2{
     font-size: 22px;
     color:#FD6C41;
     font-weight: bolder;
     text-decoration: underline;
}
p{
      font-size: 17px;
        color: #179def;

 ul{
      list-style-type: circle;
 }
  ul li strong{
     font-size: 17px;
     color: white;
  }
   ul li p{
      color: rgb(90, 90, 90);
   }

.response{
     color: white;
     text-decoration: none;
}

ul li{
      color: #8c8d8f;
      font-weight: bold;
} */
/* 
pre{
     background-color:#2d2f34;
     color:white;
     overflow: auto;
}
p strong{
     font-size: 18px;
     color: #1E88E5;
 } */